header ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #ffffff;
}

header ul li {
    float: left;
}

header ul li #logo{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

header ul li a.nav{
    display: block;
    color: #000080;
    text-align: center;
    padding: 38px 30px;
    text-decoration: none;
}

header ul li button {
    display: block;
    text-align: center;
    margin: 30px 30px;
    padding: 10px 30px;
    text-decoration: none;
    background-color: #000080;
    border: none;
    color: white;
}

#socialMedia a
{
  display: block;
  color: #000080;
  text-align: center;
  padding: 38px 16px;
  text-decoration: none;
}

body{
  background-color:;
}
video {
  width:100%
}
#video-background {
/*  making the video fullscreen  */
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

#videocontainer {
  background-color: #fff;
  height: 350px;
  width: 400px;
  position: absolute;
  padding-to: 10px;
  top: 150px;
  text-align: center;
  left: 100px;
  opacity: .5;
}

#videotxt {
  position: absolute;
  height: 500px;
  width: 250px;
  z-index: 1;
  text-align: center;
  top: 160px;
  left: 175px;
  font-size: 40px;
  color: #000080;
   
}

#videodescription {
  position: absolute;
  height: 300px;
  width: 250px;
  z-index: 1;
  text-align: center;
  top: 260px;
  left: 175px;
  font-size: 20px;
  color: #000080;
}

#videoSubscription {
  position: absolute;
  height: 300px;
  width: 270px;
  z-index: 1;
  text-align: center;
  top: 360px;
  left: 175px;
  font-size: 20px;
  color: #000080;
  font-weight: bold;
}

#videoInput {
  top: 400px;
  left: 185px;
  position: absolute;
  z-index: 1;
}

#videoInput button {
  text-align: center;
  margin:;
  padding:;
  text-decoration: none;
  background-color: #000080;
  border: none;
  color: white;
}

#videoLaunch {
  position: absolute;
  height: 300px;
  width: 270px;
  z-index: 1;
  text-align: center;
  top: 430px;
  left: 175px;
  font-size: 20px;
  color: #000080;
  font-weight: bold;
}